body {
  font-family: -apple-system, BlinkMacSystemFont, 'Titillium web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00afdd;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  background: #00afdd;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 70px;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 100px;
}

.nav-options {
  display: grid;
  grid-template-columns: 140px 140px 120px;
  gap: 100px;
  list-style-type: none;
}

.option {
  font-size: 1.6em;
  font-weight: 600;
}

@media (max-width: 770px) {
  /* iPad/larger tablet view */
  .nav-options {
    gap: 40px;
  }
}

.mobile-menu {
  display: none;
}

.option :hover {
  color: white;
}

.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}

.sign-in {
  padding-right: 50px;
  align-self: center;
}

.sign-in :hover {
  color: white;
}

@media (max-width: 648px) {
  /* Mobile view */
  .header {
    padding: 0px 10px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }

  .mobile-menu {
    display: block;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 240px;
    position: absolute;
    top: 74px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: rgb(240, 240, 240, 0.8);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 3;
    align-content: center;
    padding-left: 0px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }

}

.map-container {
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  bottom: 0;
}

.marker {
  width: 30px;
  height: 41px;
  cursor: pointer;
}

.legend-container {
  position: absolute;
  bottom: 24px;
  left: 0;
  margin: 12px;
  width: 120px;
  background-color: rgb(240, 240, 240, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1 !important;
  padding: 12px;
  font-size: 1rem;
  font-weight: 520;
}

.legend {
  display: flex;
  justify-content: space-between;
}

.mevo-icon {
  width: 20px;
  height: 28px;
}

.home-zones {
  position: relative;
  top: 12px;
  width: 20px;
  height: 4px;
  background-color: #f7590d;
}