body {
    font-family: -apple-system, BlinkMacSystemFont, 'Titillium web',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#00afdd;
}

.nav-bar {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* align-content: space-between; */
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: black;
}

.map-container {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0
}

.marker {
  width: 30px;
  height: 41px;
  cursor: pointer;
}